<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up to the event using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="firstname">First name</label>: <input type="text" name="firstname" id="firstname"/></p>
            <p><label for="lastname">Last name</label>: <input type="text" name="lastname" id="lastname"/></p>
            <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
            <!-- uncomment the below input field -->
            <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
            <p><input type="submit" value="Submit" /></p>
        </form>

        <a href="evilform.html">Psst this is a cool site! (CSRF-attack)</a>
        <p></p>
    </body>
</html>
